html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: var(--fg-color);
	background-color: var(--bg-color);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

	--bg-color: var(--bg-color-dark);
	--fg-color: var(--fg-color-dark);

	--bg-color-dark: black;
	--fg-color-dark: white;

	--bg-color-light: white;
	--fg-color-light: black;
}

#main-menu-screen {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--bg-color);
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.ui-container {
	position: absolute;
	display: flex;
}

.ui-button {
	border: none;
	border-right: var(--fg-color) 1px solid;
	border-bottom: var(--fg-color) 1px solid;
	color: var(--fg-color);
	background-color: var(--bg-color);
	padding: 8px;
}

.ui-button.disabled {
	background-color: gray;
}

#lab-canvas {
	left: 0;
	top: 0;
	position: absolute;
}